<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Update File</title>
</head>
<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto p-6 flex flex-col items-center">
        <div class="bg-white shadow-lg rounded-lg p-6 max-w-lg w-full">
            <h1 class="text-2xl font-semibold mb-4 text-center">Update <%= fileName %> File</h1>
            <form class="space-y-4" method="post" action="/update">
                <label class="block text-gray-700 font-medium">Old Name</label>
                
                <input name="oldName" class="w-full p-3 border border-gray-300 rounded-lg" placeholder="Old Name" value="<%= fileName %>" readonly />
                
                <label class="block text-gray-700 font-medium">New Name</label>
                <input name="newName" class="w-full p-3 border border-gray-300 rounded-lg" placeholder="Enter New Name" required />
                
                <button class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600">Update</button>
            </form>
            <div class="text-center mt-4">
                <a href="/" class="text-blue-500 hover:underline flex gap-1 justify-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>Go to Home</a>
            </div>
        </div>
    </div>
</body>
</html>
